body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6c81df;
}

#scoreboard {
  margin: 20px auto;
  width: 70%;
  background: #0b0a46;
  border-radius: 20px;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scoreboard-parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teams {
  font-size: 20px;
  text-align: center;
  /* margin: 0 auto; */
}

.background {
  width: 150px;
  height: 100px;
  background: #000000;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teams {
  font-weight: 800;
}

.score {
  font-size: 80px;
  text-align: center;
  color: red;
}

.button-layer {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: #0b0a46;
  color: gray;
  border: grey solid 1px;
  border-radius: 2px;
  padding: 6px 8px;
}

#resetButton {
  margin: 20px auto;
  color: white;
  padding: 6px 8px;
}

#secondaryScores {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

#period-button,
#fouls-button {
  padding: 4px 6px;
  font-size: 12px;
}
